<nav class="navbar has-background-success-light my-4" role="navigation" aria-label="Menüyü açın veya kapatın">
  <div class="container is-fluid">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">
        <h3 class="is-size-3">Dashboard</h3>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" aria-controls="aside">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>