{% extends "authorize.njk" %}

{% from "partials/macros.njk" import field %}

{% block forms %}

  {{ field("id", "Kullanıcı Adı", "T.C. Kimik Numaranız", required=true, autofocus=true) }}
  {{ field("password", "Şifre", "********", "password", required=true) }}

{% endblock %}